<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
  <nav class="bg-white w-full border-gray-200 dark:bg-gray-900">
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
    >
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>

      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <!-- Conteúdo do navbar aqui, se necessário -->
      </div>
    </div>
  </nav>

  <div class="max-w-6xl mx-auto py-8 px-4">
    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white text-center">
      Calendário Despesas Liquidas
    </h2>

    <div class="flex items-center justify-center mb-4 space-x-4">
      <button
        type="button"
        (click)="mesanterior()"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >
        Mês Anterior
      </button>
      <button
        class="text-white bg-purple-900 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >
        {{ mes }}
      </button>
      <button
        class="text-white bg-purple-900 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >
        Total Mês {{ total | currency : "BRL" }}
      </button>
      <button
        type="button"
        (click)="proximomes()"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >
        Próximo Mês
      </button>
    </div>

    <div class="calendar-container">
      <article class="calendar-content">
        @for (header of headers; track header) {
          <span class="calendar-header">{{ header }}</span>
        }
        <div *ngFor="let day of calendario">
          <div
            class="calendar-body"
            [ngClass]="[
              day.isCurrentMonth ? 'current-month' : '',
              day.isCurrentDay ? 'current-day' : ''
            ]"
          >
            <span>{{ day.day }}</span>
            <p class="valor">{{ day.eventos.total | currency : "BRL" }}</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>