:host {
  display: block;
  width: 100%;
}

table {
  width: 100%;
  min-width: 100%;
  font-family: "Roboto Mono", monospace;
  font-size: 0.75rem !important;
}

thead th,
tbody td {
  white-space: nowrap;
  font-family: inherit;
  font-size: inherit;
}

th,
td {
  padding: 0.35rem 0.5rem;
}

:host table th:last-child,
:host table td:last-child {
  border-left: 1px solid #d1d5db;
}
