<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
      <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Cadastrar Lançamento</h2>

      <app-alert 
      [showAlert]="showAlert"
      [title]="alertTitle"
      [message]="alertMessage"
      [alertType]="alertType"
      (close)="closeAlert()"></app-alert>
      <form  [formGroup]="meuForm" (ngSubmit)="onSubmit()">
        
          <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">           

            <div class="relative max-w-sm">

              <label for="data" class="block text-gray-700 text-sm font-bold mb-2">Data:</label>
              <input type="date" id="data" formControlName="data" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">


              
             
            </div>
            
            
            

              <div class="sm:col-span-2">
                  <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descrição</label>
                  <input type="text" formControlName="descricao" name="name" id="descricao"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                    focus:ring-primary-600 focus:border-primary-600 
                    block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
                     dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Descreva o lançamento" required="">
              </div>



             
              <div>
                  <label for="contadebitada" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Conta Debitada</label>
                  <select id="contadebitada" formControlName="contadebitada"    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                   focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700
                    dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
                     dark:focus:border-primary-500">
                    <option  *ngFor="let cat of items" value="{{cat.id}}-{{cat.cod}}-{{cat.conta}}-{{cat.natureza}}-{{cat.enquadramento}}-{{cat.mod_despesa}}">
                      {{ cat.conta }}
                    </option>
                  </select>
              </div>
              <div>
                <label for="contacreditada" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Conta Creditada</label>
                <select id="contacreditada" formControlName="contacreditada" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
                 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                 <option  *ngFor="let cat of items" value="{{cat.id}}-{{cat.cod}}-{{cat.conta}}-{{cat.natureza}}-{{cat.enquadramento}}-{{cat.mod_despesa}}">
                  {{ cat.conta }}
                </option>
                 
                </select>
            </div>
            <div class="w-full">
              <label for="valor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Valor</label>
              <input type="number" formControlName="valor" name="valor" id="valor" class="bg-gray-50 border border-gray-300
               text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 
               dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
               dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="R$ 1.000,00" required="">
          </div>
          <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 
          focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full 
          sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Gravar</button>
          </div>

         
         
      </form>
  </div>
</section>
